.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    background-color: rgb(159,205,253);
}

nav a {
    font-family:'Lilita One';
    display: flex;
    justify-content: center;
    padding-left: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav li {
    margin-right: 50px;
}

nav a:hover {
    background-color: lightblue;
    padding: 1em;
    border-radius: 25px;
    
}

figcaption {
    text-align:right;
    font-family:Indie Flower;
    font-style:italic;
    color:white;
}

h6 {
    text-align:center;
    font-family: Playwrite 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    background-color: rgb(159,205,253);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
    text-align:center;
    font-style:oblique;
    font-family: Lilita One;
}

h2 {
    color: white;
    text-align:center;
    text-decoration:overline underline;
    font-family: Lilita One;
}

p {
    color:rgb(45,47,142);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
    color:white;
    text-align:center;
    font-family: Lilita One;
}

ul {
    color:rgb(45,47,142);
    column-count: 2;
    padding:1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

aside {
    border-style:groove;
    margin:auto;
    background-color:aliceblue;
    color:rgb(45,47,142);
    text-align:center;
    border-radius: 2.5em;
    padding: 10px 20px;
    max-width:500px;
}

aside li {
    list-style:none;
    text-align:center;
    padding:0.5 em;
}

img {
    max-width:100%;
    display: inline-flex;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-family: Indie Flower;
    padding: 15px;
    text-align: center;
    margin:auto;
}